* {
  margin: 0;
  padding: 0;
}

:root {
  --tile-margin: 1%;

  --grid-size: 80vw;
  --grid-max-size: 400px;

  --control-size: 50px;

  --wrapper-gradient: 240deg;
}

/* Overrides */

/* My styles */

body {
  border-radius: 5px;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(var(--wrapper-gradient), #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(var(--wrapper-gradient), #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  box-shadow: rgb(54, 255, 205) 0 0 10px, rgb(59, 120, 250) 0 0 3px;
  height: 100vh;
}

.wrapper {
  width: min(var(--grid-size), var(--grid-max-size));
  padding: 30px 0;  
  color: rgb(70, 70, 70);
}

.header {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.header button {
  height: 50px;
  width: 50px;
  margin: auto 5px;
}

.header .row:nth-child(2) {
  margin-top: 5px;
}

.grid-wrapper {
  height: min(var(--grid-size), var(--grid-max-size));
  width: min(var(--grid-size), var(--grid-max-size));
  margin: 0 auto;
  padding: 0;
}

.grid, .grid-bg {
  position: absolute;
  padding: 0;
  margin: 0;
  height: min(var(--grid-size), var(--grid-max-size));
  width: min(var(--grid-size), var(--grid-max-size));
  border-radius: 3px;
}

.grid-bg {
  z-index: -1;
}

.tile, .tile-bg {
  background-color: rgb(255, 180, 40);
  padding: 0;
  margin: 0 calc(var(--tile-margin));
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.1rem;
}

.grid-wrapper .row {
  height: calc(0.25*min(var(--grid-size), var(--grid-max-size)));
  width: 100%;
  margin: 0;
  padding: var(--tile-margin) 0;
}

.tile-bg {
  background-color: rgb(206, 206, 206);
}

.controls {
  margin-top: 20px;
  width: calc(var(--control-size)*3);
}

.controls .col{
  height: var(--control-size);
}